@media (max-width: 1280px) {
  /* Chọn phần tử có lớp là "h2" và thiết lập d isplay thành none */
  .h2 {
    display: none;
  }
  .nav2 {
    margin-left: 0;
  }
  .section-title {
    font-size: 25px;
  }
  .job-info {
    width: 80vx;
  }

  #job-info h1 {
    font-size: 25px;
  }
  .container2 {
    margin-right: 0;
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .Web {
    margin-top: 30px;
    display: inline;
  }
  #certificate h2 {
    font-size: 18px;
    margin-top: 20px;
  }
  #certificate ul {
    font-size: 15px;
  }
  .chungchi1 {
    padding: 0;
  }
  .container2 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
  }
  .project {
    padding: 0;
    gap: 0;
  }
  .duan {
    width: 25vw;
    font-size: 15px;
    margin: 0;
  }
  .duan img {
    width: 25vw;
  }
  .nam {
    grid-template-columns: repeat(3, 1fr);
    font-size: 14px;
  }
  .duan p:first-child {
    font-size: 16px;
    width: 50px;
    height: 30px;
    margin-bottom: 0;
  }
  .data {
    padding: 30px 0 0 0;
  }
}
